name: claude-code-work
services:
  claude-code-work:
    image: claude-code-work
    build: .
    env_file: .env
    environment:
      - ANTHROPIC_BASE_URL=${ANTHROPIC_BASE_URL}
      - ANTHROPIC_AUTH_TOKEN=${ANTHROPIC_AUTH_TOKEN}
      - API_TIMEOUT_MS=${API_TIMEOUT_MS}
      - CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=${CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC}
      - ANTHROPIC_MODEL=${ANTHROPIC_MODEL}
      - ANTHROPIC_SMALL_FAST_MODEL=${ANTHROPIC_SMALL_FAST_MODEL}
    user: "1000:1000"
    tty: true
    init: true
    volumes:
      - "./workspace:/home/ubuntu/workspace"
      - ./.claude.json:/home/ubuntu/.claude.json:rw
      - claude:/home/ubuntu/.claude

volumes:
  claude:
